.bigCont {
    display: flex;
    gap: 3rem;
}


.cont {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.cont>* {
    /* min-height: 200px; */
}

.cont::-webkit-scrollbar {
    display: none;
}